@import 'variables';
@import 'calendar';

.page__body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__body,
.calendar,
.calendar__day {
  box-sizing: border-box;
}
