$calendar-gap: 1px;
$calendar-padding: 10px;
$calendar-width: 726px;
$day-size: 100px;
$day-background-color: #eee;
$day-border: 1px solid #000;
$day-font-size: 30px;
$day-font-family: Arial, Helvetica, sans-serif;
$transition-duration: 500ms;
$transition-delay: 500ms;
$hover-transform: translateY(-20px);
$hover-background-color: #ffbfcb;
$days: (
  'mon': 1,
  'tue': 2,
  'wed': 3,
  'thu': 4,
  'fri': 5,
  'sat': 6,
  'sun': 7,
);
